body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;

}
.background {
 
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('glock.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1; 
    
}
.background::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
}
.wheel-container {
    position: relative;
    text-align: center;
    
}

.pump {
    z-index: 1;
    position: absolute;
    top: 95vh;

}
.nah {
    width: 13vh;
    height: 4vh;
    background-color: white;
    font-size: 2.5vh;
    font-weight: bold;
    color:black;
    cursor: pointer;
transition: background-color 0.3s ease, transform 0.3s ease;
}

#spin-button {
    margin-top: 2vh;
    padding: 1vh 2vh;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    background-color: white;
    width: 12vh;
    height: 5vh;
}

.result {
    margin-top: 2vh;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.controls {
    margin-top: 3vh;
    text-align: left;
}

.controls label {
    display: block;
    margin-bottom: 0.5vh;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.controls textarea, .controls input {
    width: 100%;
    padding: 0.4vh;
    margin-bottom: 0.2vh;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 5x;
}

#update-wheel {
    padding: 1vh 2vh;
    font-size: 16px;
 border-radius: 5px;
 border: none;
 background-color: white;
}
#update-wheel:hover{
    background-color: grey;
}
#spin-button:hover {
    background-color: grey;
}
.nah:hover {
    background-color: grey;
    transform: scale(1.1);
}