body,html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.background {

    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('istina.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0; 
}


h3 {
    text-align: center;
    position: relative;
    z-index: 1;
    color: white; 
    font-size: xx-large;
    
   
}  
.img {
    z-index: 1;
    position: absolute;
    top: 85%;
    left: 50%;
}
.da {
    z-index: 1;
    position: absolute;
    bottom: 23vh;
padding-left: 8.5vh;
padding-right: 8.5vh;
    font-size: 2.45vh;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    color: lightblue;

   font-weight: bold;

}
.da::after {
content: "";
position: absolute;
text-shadow: 1px 25px 50px rgba(0, 0, 0, 0.3);
z-index: 1;

}
.bro {
    position: absolute; 
    top: 80%; 
    left: 50%; 
    font-weight: bold; 
    cursor: pointer;
    width: 10vh;
    font-size: 2vh; 
    color: black;
    border-radius: 25px; 
   
}
button:hover {
    background-color: grey;
}