body,html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.background {

    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('istina.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0; 
}


h3 {
    text-align: center;
    position: relative;
    z-index: 1;
    color: white; 
    font-size: xx-large;
    
   
}  
.img {
    z-index: 1;
    position: absolute;
    top: 85%;
    left: 50%;
}
.da {
    z-index: 1;
    position: absolute;
    bottom: 230px;
    
padding-left: 85px;
padding-right: 85px;
    font-size:x-large;
    color: lightblue;

   font-weight: bold;

}
.bro {
    position: absolute; 
    top: 80%; 
    left: 50%; 
    font-weight: bold; 
    cursor: pointer;
    width: 100px;
    font-size: 20px; 
    color: black;
    border-radius: 25px; 
   
}
button:hover {
    background-color: grey;
}