body {
    margin: 0;
    height: 100%;
    overflow: HIDDEN;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('akame.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.background::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.forvibe {
    position: absolute;
    text-align: center;
    left: 44%;
}

#lol {
    padding: 10px 20px;
    background-color: black;
    color: rgb(255, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 170px;
    height: 5vh;
    transition: background-color 0.5s ease;
}

#lol:hover {
    background-color: black;
}

.menu-button {
    background-color: black;
    color: purple;
    font-size: large;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.menu-button:hover {
    background-color: darkorange;
    transform: scale(1.1);
}

.mutka {
    position: relative;
    font-weight: bold;
    font-size: xx-large;
    z-index: 1;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}



.prava {
    font-size: x-large;
    position: absolute;
    top: 95%;
    left: 37%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-shadow: 1px 1px 2px rgb(247, 4, 4);
    border-radius: 52px;
    text-align: center;
    margin-top: 0;
}
