body {
    margin: 0;
    height: 100%;
}

.background {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('akame.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0; 
}

.mutka {
    position: relative;
    font-weight: bold;
    font-size: xx-large;
    z-index: 1; 
    color: white;
    padding: 20px;
    text-align: center; 
}

.button1 {  
    position: absolute;
    background-color: black; 
    color: purple; 
    margin-left: 550px;
    font-size: x-large;
    margin-top: -8px;
    padding: 15px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    text-decoration: none; 
  
    transition: background-color 0.5s ease, transform 0.5s ease ;
  
}
.button3 { position: absolute; 
    background-color: black; 
    color: purple; 
    font-size: x-large;
    padding: 15px;
    margin-left: 1100px; 
   bottom: 55%;
    border-radius: 5px;
    cursor: pointer;
    border: none; 
    transition: background-color 0.5s ease, transform 0.5s ease ;
}

.button2 {
    position: absolute; 
    background-color: black; 
    color: purple; 
    font-size: x-large;
    padding: 15px;
    margin-left: 1100px; 
    margin-top: -10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease, transform 0.5s ease ;
}

.button4 {
    position: absolute; 
    background-color: black;
    width: 150px;
    font-size: x-large;
    color: purple;
    z-index: 0;
    left: 29%;
    top: 40%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease ;
}
.button5 {
  position: absolute;
  padding: 15;
  font-size: x-large;
  width: 150px;
  height: 5vh;
  left: 46%;
  top: 25%;
  background-color: black;
  border-radius: 5px;
  color: purple;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s ease, transform 0.5s ease;
    
}
.prava {
    font-size: x-large;
    position: absolute;
    top: 95%;
    left: 37%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; 
    text-shadow: 1px 1px 2px rgb(247, 4, 4); 
    border-radius: 52px; 
    text-align: center;
    margin-top: 0; 

}

.button1:hover {
    background-color: darkorange; 
    transform: scale(1.2);

}

.button2:hover {
    background-color: darkorange; 
    transform: scale(1.2);
}
.button3:hover {
    background-color: darkorange;
    transform: scale(1.2);
}
.button4:hover {
    background-color: darkorange;
    transform: scale(1.2);
}
.button5:hover {
    background-color: darkorange;
    transform: scale(1.2);
}
