body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('test.jpg'); 
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.test-container {
background-color: white;
    padding: 20px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 550px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: purple;
    font-size: x-large;
}

.question {
    margin-bottom: 20px;
    color: rgb(109, 17, 17);
    font-size: x-large;
}

label {
    display: block;
    margin: 10px 0;
 color: purple;
 font-size: x-large;
 font-weight: 200;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: rgb(41, 2, 26);
}
