body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('devilsee.jpg'); 
    background-size: cover;
    background-position: center;

    z-index: -1;
}

.background::after {
    z-index:1;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position:fixed;
    width: 100%;
    height: 100%;
}
.babku {
    z-index:1;
    position: fixed;
    top: 96%;
    font-size: large;
    left: 49%;
  


}
.fuck {
    background-color: white;
    position: absolute;
    color: black;
    font-weight: bold;
    width: 75px;
    border-radius: 25px;
    font-size:large;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.test-container {
    background-color: rgb(255, 255, 255,0.5);
    padding: 15px;  
    border-radius: 20px;  
    backdrop-filter: blur(3px);
    width: 550px;  
    text-align: center;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
    transition: box-shadow 0.2s ease-in-out;
    overflow: auto;  
    transition: backdrop-filter 0.3s ease-in-out;

}
.test-container:hover{
    box-shadow: 0 0 20px rgba(255,255,255,0.6);
   backdrop-filter:blur(50px);
}


h1 {
    margin-bottom: 15px;  
    color: black;
    font-size: large;  
}

.lol {
    font-size: large; 
}

.question {
    margin-bottom: 15px;  
   
    font-size: small;  
}

label {
    display: block;
    margin: 5px 0;  
    color: rgb(70, 68, 75);
    font-size: large;
    font-weight: 700;
}

button {
   
    display: block;
    width: 65%;
    padding: 8px; 
    background-color: rgb(153, 191, 204);
    color: black;
    border: none;
    font-weight: bold;
    font-size: medium;
    border-radius: 15px;
    margin-left: 18%;
    cursor: pointer;
    margin-bottom: 15px;  
}

button:hover {
    background-color: grey;
}

#result {
    margin-top: 15px;  
    font-size: 16px;  
    font-weight: bold;
    text-align: center;
    color: rgb(116, 2, 72);
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
}

#resultContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
}

#resultText {
    font-size: 24px;
    margin-bottom: 15px;
}

#resultImage {
    width: 50vw;  
    height: auto;
    margin-bottom: 15px;
}

#closeResult {
    background-color: red;
    color: white;
    width: 101px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeResult:hover {
    background-color: darkred;
}
 .fuck:hover {
    background-color: rgb(95, 93, 93);
    transform: scale(1.1);
 }