body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('test.jpg'); 
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.test-container {
    background-color: white;
    padding: 15px;  
    border-radius: 20px;  
    width: 550px;  
    text-align: center;
    overflow: auto;  
}

h1 {
    margin-bottom: 15px;  
    color: purple;
    font-size: large;  
}
.lol {
    font-size: large; 
}
.question {
    margin-bottom: 15px;  
    color: rgb(109, 17, 17);
    font-size: small;  
}

label {
    display: block;
    margin: 5px 0;  
    color: purple;
    font-size: large;  
    font-weight: 200;
}

button {
    display: block;
    width: 100%;
    padding: 8px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;  
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 15px;  
    font-size: 16px;  
    font-weight: bold;
    text-align: center;
    color: rgb(41, 2, 26);
}
